.todoHeader{
    font-size: 80px !important;
    justify-content: center;
    margin-bottom: 60px !important;
    margin-top: 20px !important;
}
.todoSidebar{
    padding: 10px;
    border-right:  1px black !important;
    border-left: 0px !important;
    border-bottom: 0px !important;
    border-top: 0px !important;
    border-style: solid !important;
}
.todoSidebar-buttons{
    margin-top: 20px !important;
    font-size: 10px !important;
}

#todoSidebar-createbutton{
    margin-right: 20px !important;
}
.todoStats{
    height: 140px;
    font-size: 20px;
    align-items: center !important;
}
.todoItem{
    height: 80px !important;
    font-size: 30px ;
    list-style-type: none ;
    background-color: white !important;
    border-style: solid !important;
    border-right:  0px black !important;
    border-left: 0px !important;
    border-bottom: 0px !important;
}
.todoItem:hover{
    background-color: gainsboro !important;
}
